<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exploreindonesia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aceh"/>
        <activity android:name=".bali" />
        <activity android:name=".banten" />
        <activity android:name=".bengkulu" />
        <activity android:name=".gorontalo" />
        <activity android:name=".jakarta" />
        <activity android:name=".jambi" />
        <activity android:name=".jawa_barat" />
        <activity android:name=".jawa_tengah" />
        <activity android:name=".jawa_timur" />
        <activity android:name=".kalimantan_barat" />
        <activity android:name=".kalimantan_tengah" />
        <activity android:name=".kalimantan_timur" />
        <activity android:name=".kalimantan_utara" />
        <activity android:name=".kepulauan_bangka_belitung" />
        <activity android:name=".kepulauan_riau" />
        <activity android:name=".lampung" />
        <activity android:name=".maluku" />
        <activity android:name=".maluku_utara" />
        <activity android:name=".nusa_tenggara_barat" />
        <activity android:name=".nusa_tenggara_timur" />
        <activity android:name=".papua" />
        <activity android:name=".papua_barat" />
        <activity android:name=".kalimantan_selatan" />
        <activity android:name=".homepage" />
        <activity android:name=".Register" />
        <activity android:name=".Login"/>
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>